@page "/dashboard/applications"
@using OffLogs.Web.Pages.Dashboard.Application.Add
@using OffLogs.Web.Pages.Dashboard.Application.Info
@using OffLogs.Web.Pages.Dashboard.Application.Share

<h1>Your application</h1>

<AddApplicationModal OnAdded="OnApplicationAdded"/>
<ShareApplicationModal OnClosed="@(() => _applicationForSharing = null)" 
                       IsShowModal="@(_applicationForSharing != null)"
                       Application="@_applicationForSharing"/>
<ConfirmationModal Title="Are you sure you want to uninstall this application?" 
                   IsShow="@(_applicationForDeletion != null)"
                   OnOk="OnDeleteAppAsync"
                   OnCancel="@(() => _applicationForDeletion = null)"/>

@if (_selectedApplicationId != null)
{
    <AppInfoModal ApplicationId="@_selectedApplicationId"/>
}

<table class="table table-hover w-table">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var application in _applications)
        {
            <tr @onclick="@(async () => await OnClickRowAsync(application))">
                <td>@application.Name</td>
                <td @onclick:stopPropagation>
                    @if (@application.Permissions.IsHasWriteAccess)
                    {
                        <MyButton IsSmall="true"
                                  Type="BootstrapColorType.Secondary"
                                  OnClick="@(() => _applicationForSharing = application)">
                            Share
                        </MyButton>

                        <MyButton IsSmall="true"
                                  Type="BootstrapColorType.Danger"
                                  OnClick="@(() => _applicationForDeletion = application)">
                            X
                        </MyButton>    
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
