@page "/dashboard/applications"
@using OffLogs.Web.Pages.Dashboard.Application.Add
@using OffLogs.Web.Pages.Dashboard.Application.Info
@using OffLogs.Web.Pages.Dashboard.Application.Share
@using OffLogs.Web.Resources
@using OffLogs.Web.Shared.Ui.NavigationLayout
@using OffLogs.Web.Shared.Ui.NavigationLayout.Models

@inherits BaseComponent

<AddApplicationModal OnAdded="OnApplicationAdded" IsShowAddModal="@_isShowAddModal"/>
<ShareApplicationModal OnClosed="@(() => _applicationForSharing = null)" 
                       IsShowModal="@(_applicationForSharing != null)"
                       Application="@_applicationForSharing"/>
<ConfirmationModal Title="Are you sure you want to uninstall this application?" 
                   IsShow="@(_applicationForDeletion != null)"
                   OnOk="OnDeleteAppAsync"
                   OnCancel="@(() => _applicationForDeletion = null)"/>

<NavigationLayout
    MenuTitle="@ApplicationResources.PageTitle_Applications"
    MenuItems="@_menuItems"
    BodyButtons="@_buttons"
    OnSelect="OnApplicationSelected"
>
    <BodyContent>
        @if (ApplicationsState.Value.SelectedApplicationId != null)
        {
            <AppInfoBlock ApplicationId="@ApplicationsState.Value.SelectedApplicationId"/>
        }
    </BodyContent>
</NavigationLayout>

<table class="table table-hover w-table">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var application in ApplicationsState.Value.Applications)
        {
            <tr @onclick="@(async () => await OnClickRowAsync(application))">
                <td>@application.Name</td>
                <td @onclick:stopPropagation>
                    <MyButton IsSmall="true"
                              Type="BootstrapColorType.Danger"
                              OnClick="@(() => _applicationForDeletion = application)">
                        X
                    </MyButton> 
                </td>
            </tr>
        }
    </tbody>
</table>
