@using OffLogs.Web.Resources
@inherits BaseComponent

<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="/img/logo/40x.png" alt="" class="d-inline-block">
            OffLogs
        </a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <NavLink href="/" class="nav-link">About</NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="@SiteUrl.Support" class="nav-link">
                    @LandingPageResources.Support_Title
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="@SiteUrl.Documentation_CommonInfo" class="nav-link">
                    @LandingPageResources.Documentation_Title
                </NavLink>
            </li>
        </ul>
        <ul class="navbar-nav justify-content-end">
            <li class="nav-item">
                <CustomDropDown 
                    BtnType="BootstrapColorType.Light"
                    Items="@_languageMenuItems"
                    OnChanged="@(async item => await OnSelectLanguageAsync(item))"></CustomDropDown>  
            </li>
            @if (AuthState.Value.IsLoggedIn)
            {
                <li class="nav-item">
                    <NavLink href="@SiteUrl.Dashboard" class="nav-link">Dashboard</NavLink>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <NavLink href="@SiteUrl.Login" class="nav-link">Login</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink href="@SiteUrl.Registration_Step1" class="nav-link">Registration</NavLink>
                </li>
            }
        </ul>
    </div>
</nav>
