@using OffLogs.Web.Shared.Ui.NavigationLayout.Models

<div class="w-sub-menu-container">
    <Header Buttons="@Buttons"/>
    <div class="w-sub-menu">
        <ul>
            @if (ListItems != null)
            {
                @foreach (var listItem in ListItems)
                {
                    <li 
                        @onclick="@(() => OnSelectMenuItem(listItem))" 
                        class="@(IsSelected(listItem) ? "w-selected" : "")"
                    >
                        <span class="w-title">
                            @listItem.Title
                        </span>
                        <span class="w-title-2">
                            @listItem.RightTitle
                        </span>
                        <span class="w-sub-title">
                            @listItem.SubTitle
                        </span>
                    </li>
                }    
            }
        </ul>
    </div>
</div>

@code {

    [CascadingParameter(Name = "Layout")]
    public NavigationLayout Layout { get; set; }

    [Parameter]
    public ListItem SelectedItem { get; set; }

    [Parameter]
    public ICollection<ListItem> ListItems { get; set; }

    [Parameter]
    public ICollection<HeaderMenuButton> Buttons { get; set; } = new List<HeaderMenuButton>();

    protected override Task OnInitializedAsync()
    {
        Buttons.Add(
            new HeaderMenuButton("Select", "check-alt")
        );
        return Task.CompletedTask;
    }

    public void OnSelectMenuItem(ListItem menuItem)
    {
        Layout.OnSelectInnerListItem(menuItem);
    }

    public bool IsSelected(ListItem menuItem)
    {
        return SelectedItem?.Id == menuItem.Id;
    }
}
