@using OffLogs.Web.Core.Helpers
@using OffLogs.Web.Constants
@inject IJSRuntime _js;

<button 
  id="@IdString"
  class="btn btn@(IsOutlined ? "-outline" : "")-@Type.GetName() @(IsSmall ? "btn-sm" : "") @Class" 
  @onclick="@OnClick" 
  type="@(IsSubmit ? @"submit" : "button")"
  disabled="@IsDisabled"
  >
  @ChildContent
</button>

@code {
  [Parameter]
  public bool IsHidden { get; set; } = false;
  
  [Parameter]
  public bool IsSubmit { get; set; } = false;
  
  [Parameter]
  public bool IsDisabled { get; set; } = false;
  
  [Parameter]
  public BootstrapColorType Type { get; set; } = BootstrapColorType.Primary;
  
  [Parameter]
  public string Class { get; set; }
  
  [Parameter]
  public RenderFragment ChildContent { get; set; }

  [Parameter]
  public EventCallback<MouseEventArgs> OnClick { get; set; }

  [Parameter]
  public bool IsOutlined { get; set; } = false;
  
  [Parameter]
  public bool IsSmall { get; set; } = false;
  
  private int _id = Randomizer.GetNumber();
  private string IdString => $"js-my-button-{_id}";

  public void Click()
  {
    _js.InvokeVoidAsync("clickOnElement", IdString);
  }
}
