@page "/registration/verification/{verificationToken}"
@using Microsoft.AspNetCore.Components
@using OffLogs.Api.Common.Dto.RequestsAndResponses.Public.User
@using OffLogs.Web.Resources

@inherits BaseComponent

<div class="row d-flex px-3 justify-content-center">
    <div class="col-xl-4 p-3">
        <RadzenCard>
            <h2 class="mb-4">@CommonResources.Registration</h2>
            
            @if (_isRegistered)
            {
                <div class="row">
                    <div class="col">
                        <RadzenButton
                            Click="SaveFile"
                            Disabled="@_isLoading"
                            Text="@AuthResources.Registration_SaveKey"/>
                    </div>
                    <div class="col">
                        <RadzenButton
                            Disabled="@(_isLoading || !_isSecretFileSaved)"
                            Click="LoginAndContinue"
                            Text="@AuthResources.Registration_Login"/>
                    </div>
                </div>
            }
            else
            {
                <RadzenTemplateForm TItem="RegistrationStep2Request" Data="@model" Submit="HandleSubmit">
                    <DataAnnotationsValidator/>
                    <ValidationSummary/>

                    <div class="row">
                        <RadzenLabel
                            Text="@AuthResources.Registration_EnterPassword"
                            class="col-sm-3 mb-3"/>
                        <RadzenPassword
                            @bind-Value="model.Password"
                            Class="w-100 mb-3 col"/>
                    </div>
                    @if (!_isLoading)
                    {
                        <RadzenButton
                            ButtonType="ButtonType.Submit"
                            Text="@AuthResources.Registration_ReceiveSecret"/>
                    }
                </RadzenTemplateForm>
            }
            @if (_isLoading)
            {
                <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate"/>
            }
        </RadzenCard>
    </div>
</div>
