@using OffLogs.Web.Core.Components.Form
@using Microsoft.AspNetCore.Components
@using OffLogs.Web.Resources

@inherits BaseComponent

<ModalWindow
    IsShow="@IsShowAddModal"
    Buttons="@_modalButtons"
    IsLoading="@_isLoading"
    Title="@NotificationResources.AddNewTemplate"
    OnClose="@(async () => { await Task.Yield(); IsShowAddModal = false; })"
    >
    <MyEditForm OnValidSubmit="@HandleSubmit" 
                EditContext="@_editContext"
                @ref="@_editForm">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <p>
            <CustomInputText
                Label="@NotificationResources.MessageTemplate_Subject"
                @bind-Value="@_model.Type" 
            />
        </p>
    </MyEditForm>

</ModalWindow>
