@page "/"
@page "/{locale}"

@using OffLogs.Web.Pages.Landing.Shared;
@using OffLogs.Web.Resources

@layout Layout
@inherits BaseComponent

<h1 class="display-2">@LandingPageResources.Main_Title</h1>
<p class="lead">@LandingPageResources.Main_Desc</p>

<h1 class="display-5">@LandingPageResources.Main_HowItWorks_Title</h1>
<p class="lead">
    <Markdown MarkdownText="@LandingPageResources.Main_HowItWorks_Desc"/>
</p>

<h1 class="display-5">@LandingPageResources.Main_Features_Title</h1>
<p class="lead">
    <Markdown MarkdownText="@LandingPageResources.Main_Features_Desc"/>
</p>
