@using OffLogs.Web.Resources

@inherits BaseComponent

<RadzenHeader>
    <div class="row justify-content-start align-items-center p-1">
        <div class="col-5 d-flex align-items-center">
            <a class="navbar-brand" href="#">
                <img src="/img/logo/40x.png" alt="" class="d-inline-block">
                <b>OffLogs</b>
            </a>
            
            <RadzenLink
                Path="@SiteUrl.Support"
                class="ml-3"
                Text="@LandingPageResources.Support_Title"/>
            <RadzenLink
                Path="@SiteUrl.Documentation_CommonInfo"
                class="ml-3"
                Text="@LandingPageResources.Documentation_Title"/>
        </div>
        <div class="col-7 d-flex align-items-center justify-content-end">
            <div class="d-md-inline-flex align-items-center">
                @if (AuthState.Value.IsLoggedIn)
                {
                    <RadzenLink
                        Path="@SiteUrl.Dashboard"
                        Text="@LandingPageResources.Menu_Dashboard"/>
                }
                else
                {
                    <RadzenLink
                        Path="@SiteUrl.Login"
                        Text="@LandingPageResources.Menu_Login"/>
                    <RadzenLink
                        Path="@SiteUrl.Registration_Step1"
                        Text="@LandingPageResources.Menu_SignUp"/>
                }
            </div>
            <div class="mx-0 mx-lg-3">
                <RadzenDropDown
                    AllowClear="false"
                    TValue="string"
                    Class="w-100"
                    AllowFiltering="false"
                    AllowVirtualization="false"
                    TextProperty="DisplayName"
                    ValueProperty="Name"
                    Data="@_languageMenuItems"
                    Placeholder="@CommonResources.SelectLanguage"
                    Value="@_currentLocaleId"
                    ValueChanged="OnSelectLanguageAsync"/>
            </div>
        </div>
    </div>
</RadzenHeader>
