@page "/dashboard/notifications/rules"
@page "/{locale}/dashboard/notifications/rules"

@using OffLogs.Web.Resources
@using OffLogs.Api.Common.Dto.Entities

@inherits BaseComponent

<RadzenCard class="m-3">
    
    <h2>@NotificationResources.MenuItem_Rules</h2>
    
    <RadzenButton
            Icon="add_circle_outline"
            class="mb-3"
            Text="@NotificationResources.AddNewRule"
            Disabled="@_isLoading"
            Click="@AddNewRule"/>
    
    <RadzenDataGrid
        TItem="NotificationRuleDto"
        @ref="_grid"
        AllowSorting="false"

        SelectionMode="DataGridSelectionMode.Single"
        Data="@_state.Value.Rules"
        AllowPaging="true"
        IsLoading="@_state.Value.IsLoading"
        ValueChanged="async (items) => await OnItemSelectedAsync(items.FirstOrDefault())"
        ShowPagingSummary="false">
        
        <Columns>
            <RadzenDataGridColumn TItem="NotificationRuleDto" Property="Id" Title="ID"/>
            <RadzenDataGridColumn TItem="NotificationRuleDto" Property="Title" Title="Title"/>
            <RadzenDataGridColumn TItem="NotificationRuleDto" Property="UpdateTime" Title="Update Time">
                <Template Context="template">
                    @template.UpdateTime.ToFullDateTime()
                </Template>
            </RadzenDataGridColumn>
        </Columns>
        
    </RadzenDataGrid>
    
</RadzenCard>
