@using OffLogs.Web.Resources
@using OffLogs.Web.Constants.Bootstrap

@inherits BaseComponent

<div class="w-filter">
    <div class="w-text-search">
        <Icon Name="search-2"/>
        <input type="text"
               placeholder="@LogResources.SearchByLoadedRecords"
               @bind="@_search"
               @bind:event="oninput"/>
        @if (_isApplied)
        {
            <Icon 
                Class="text-primary"
                Name="ui-check"/>    
        }
        <Icon
            Name="@(_isFilterOpened ? "rounded-up" : "rounded-down")"
            OnClick="@(() => _isFilterOpened = !_isFilterOpened)"/>
    </div>
    
    @if (_isFilterOpened)
    {
        <div class="w-filter p-1">
            
            <h5>@LogResources.FilterRecords</h5>
            
            <div class="form-row">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="is-favorite" @bind="@_model.IsOnlyFavorite">
                    <label class="form-check-label" for="is-favorite">@LogResources.ShowOnlyFavorite</label>
                </div>
                <div class="form-group">
                    <CustomDropDown
                        NonSelectedLabel="@CommonResources.LogLevel"
                        SelectedItemId="@(_model.LogLevel?.ToString())"
                        OnChanged="OnChangeLogLevel"
                        Size="FormControlSize.Small"
                        Items="@_logLevelDownListItems"/>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <MyButton
                        Class="w-100 mt-3"
                        IsSmall="true"
                        Type="ColorType.Secondary"
                        OnClick="Reset">
                        @CommonResources.Reset
                    </MyButton>
                </div>
                <div class="col">
                    <MyButton
                        Class="w-100 mt-3"
                        IsSmall="true"
                        OnClick="OnSave">
                        @CommonResources.Save
                    </MyButton>
                </div>
            </div>
        </div>    
    }
</div>
