@using OffLogs.Web.Services.Http
@using OffLogs.Api.Common.Dto.Entities
@using Fluxor
@using OffLogs.Web.Store.Log

@inherits BaseComponent

@inject IApiService _apiService
@inject ToastService _toastService
@inject IState<LogsListState> _state

@if (_log == null)
{
    <Preloader />
}
else
{
    <div>
        <b>Time:</b> @_log.LogTime.ToFullDateTime()
    </div>
    <div>
        <b>Message:</b> @_log.Message
    </div>
    <div class="row mt-1">
        @if (_log.Properties.Any())
        {
            <div class="col-6">
                <b>Properties:</b>
                @foreach (var property in _log.Properties)
                {
                    <div>
                        <b>@property.Key:</b> @property.Value
                    </div>
                }
            </div>    
        }
        @if (_log.Traces.Any())
        {
            <div class="col-6">
                <b>Traces:</b>
                @foreach (var trace in _log.Traces)
                {
                    <div>@trace</div>
                }
            </div>
        }
    </div>    
}

@code {
    [Parameter]
    public long LogId { get; set; }

    public LogDto _log => _state.Value.LogsDetails.FirstOrDefault(log => log.Id == LogId);

    protected override Task OnInitializedAsync()
    {
        return Task.CompletedTask;
    }
    
    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        if (_log != null)
        {
            return;
        }
        Dispatcher.Dispatch(new FetchLogAction(LogId));
    }
}
