@using OffLogs.Web.Core.Components.Form
@using OffLogs.Web.Resources
@using OffLogs.Business.Common.Constants.Notificatiions
@using OffLogs.Web.Constants.Bootstrap

@inherits BaseComponent

<div class="row mb-3">
    <div class="col">
        @if (true)
        {
            <CustomInputText
                Placeholder="@NotificationResources.Condition_FieldType"
                @bind-Value="@_model.ConditionField"
                Size="FormControlSize.Small"
                IsDisabled="true" />
        }
        else
        {
            <CustomDropDown
                NonSelectedLabel="@NotificationResources.Condition_FieldType"
                Items="@_fieldTypeDownListItems"
                SelectedItemId="@($"{_model.ConditionField}")"
                BtnType="ColorType.Secondary"
                Size="FormControlSize.Small"
                OnChanged="@(async (value) => await OnChangeFieldAsync(value.Id))"/>    
        }
    </div>
    <div class="col-2 text-center fs-3">
        =
    </div>
    <div class="col">
        <div class="btn-group">
            @if (_model.ConditionField == ConditionFieldType.LogLevel.ToString())
            {
                <CustomDropDown
                    NonSelectedLabel="@NotificationResources.Condition_FieldType"
                    Items="@_logLevelDownListItems"
                    SelectedItemId="@($"{_model.Value}")"
                    BtnType="ColorType.Secondary"
                    Size="FormControlSize.Small"
                    OnChanged="@(value => _value = value.Id)"/>
            }
            else
            {
                <CustomInputText
                    Placeholder="@NotificationResources.Rules_ConditionValue"
                    Size="FormControlSize.Small"
                    @bind-Value="@_value"/>
            }
            <MyButton
                OnClick="OnDelete"
                Type="ColorType.Danger"
                IsSmall="@true">
                <Icon Name="ui-delete"/>
            </MyButton>
        </div>
    </div>
</div>
