@using OffLogs.Web.Core.Components.Form
@using OffLogs.Web.Resources
@using OffLogs.Business.Common.Constants.Notificatiions

@inherits BaseComponent

<div class="row mb-3">
    <div class="col">
        @if (true)
        {
            <CustomInputText
                Placeholder="@NotificationResources.Condition_FieldType"
                @bind-Value="@_model.ConditionField"
                IsDisabled="true" />
        }
        else
        {
            <CustomDropDown
                NonSelectedLabel="@NotificationResources.Condition_FieldType"
                Items="@_fieldTypeDownListItems"
                SelectedItemId="@($"{_model.ConditionField}")"
                BtnType="BootstrapColorType.Secondary"
                OnChanged="@(async (value) => await OnChangeFieldAsync(value.Id))"/>    
        }
    </div>
    <div class="col-2 text-center fs-3">
        =
    </div>
    <div class="col">
        @if (_model.ConditionField == ConditionFieldType.LogLevel.ToString())
        {
            <CustomDropDown
                NonSelectedLabel="@NotificationResources.Condition_FieldType"
                Items="@_logLevelDownListItems"
                SelectedItemId="@($"{_model.Value}")"
                BtnType="BootstrapColorType.Secondary"
                OnChanged="@(value => _value = value.Id)"/>    
        }
        else
        {
            <CustomInputText
                Placeholder="@NotificationResources.Rules_ConditionValue"
                @bind-Value="@_value"/>
        }
    </div>
    <div class="col-2 text-center fs-3">
        <MyButton 
            OnClick="OnDelete"
            Type="BootstrapColorType.Danger"
        >
            <Icon Name="ui-delete"/>
        </MyButton>     
    </div>
</div>
