@using OffLogs.Web.Core.Components.Form
@using Microsoft.AspNetCore.Components
@using OffLogs.Business.Common.Constants.Notificatiions
@using OffLogs.Web.Resources

@inherits BaseComponent

<h2>
    @if (_isNew)
    {
        @NotificationResources.AddNewRule
    }
    else
    {
        <text>@NotificationResources.EditRule #@(_model.Id)</text>
    }
</h2>
    
<MyEditForm OnValidSubmit="@HandleSubmit"
            EditContext="@_editContext"
            @ref="@_editForm">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="row mb-3">
        <div class="col">
            <CustomDropDown
                Label="@NotificationResources.Rules_MessageTemplate"
                Items="@_messageTemplateDownListItems"
                OnChanged="@(value => _model.TemplateId = value.IdAsLong)"/>
        </div>
        <div class="col">
            <CustomDropDown
                Label="@NotificationResources.Rules_Application"
                Items="@_applicationDownListItems"
                OnChanged="@(value => _model.ApplicationId = value?.IdAsLong)"
            />
        </div>
        <div class="col">
            <CustomInputText
                Label="@NotificationResources.Rules_Period"
                IsDisabled="@_isLoading"
                @bind-Value="@_model.Period"
            />
        </div>
    </div>
    <hr/>
    <div class="row mb-3">
        <div class="col">
            <CustomDropDown
                Label="@NotificationResources.Rules_HowToCombineConditions"
                Items="@_operatorTypesDownListItems"
                OnChanged="@(value => _model.LogicOperator = value.Id)"
            />
        </div>
        <div class="col">
            <MyButton 
                OnClick="OnAddCondition"
                Type="BootstrapColorType.Success"
            >
                <Icon Name="ui-add"/>
                @NotificationResources.Rules_AddCondition 
            </MyButton>        
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            @foreach(var condition in _model.Conditions)
            {
                <ConditionForm 
                    Condition="@condition"
                />
            }
        </div>
    </div>
    <hr/>
    @if (_isLoading)
    {
        <Preloader />
    }
    else
    {
        <MyButton IsSubmit="true">
            @if (_isNew)
            {
                @CommonResources.Add
            }
            else
            {
                @CommonResources.Save
            }
        </MyButton>
    }
</MyEditForm>

<ConfirmationModal
    Title="@NotificationResources.Confirmation_AreSureToDeleteTemplate" 
    IsShow="@_isShowDeleteModal"
    OnOk="@(async () => await OnDeleteTemplateAsync())"
    OnCancel="@(() => _isShowDeleteModal = false)"></ConfirmationModal>
